@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="title text-center">
        登录
    </div>
</div>


<div class="row">


    <form action="OAuth/RequestToken" method="get" style="margin-top:50px;">
        <button type="submit" class="btn btn-primary form-control">
            登录我的Microsoft账号
        </button>
    </form>

</div>