body {
    padding: 0;
}

.title {
    font-size:2rem;
    height: 4rem;
    line-height:4rem;
    width: 100%;
    background-color: dodgerblue;
    color: white;
}

*{
    border-radius:0 !important;

}
